* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ececec;
}

.slider__wrapper {
    width: 750px;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
}

.slider__items {
    position: relative;
    list-style-type: none;
}

.slider__item {
    position: absolute;
}

img {
    width: 100%;
    display: block;
}